* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
   /* box-sizing: border-box;*/
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }


#section1{
  background-image: url("wp2593330.jpg");
}
section{
  min-height: 100vh;
}
input[type=text] {
  border: 1px solid black;
}
button{
  width:50px;
  height:50px;
  background-color: red;
  color: black;
}
#imgholder{
  display:block;
  width:100%;
  height:100vh;
  object-fit: contain;
  z-index: -1;
  position:absolute;
}
.background-holder{
  padding:20px;
  border:10px solid rgba(15, 80, 95, 0.5);
  background-image: url("cancada.jpg");
  background-size: 200px 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color:black;
  background-clip:padding-box;
  color:white;
}